---
import Angularicon from "./icons/Angularicon.astro";
import SocialIcons from "./SocialIcons.astro";
import CSSicon from "./icons/CSSicon.astro";
import HTMLicon from "./icons/HTMLicon.astro";
import Javascripticon from "./icons/Javascripticon.astro";
import NextJSicon from "./icons/NextJSicon.astro";
import Dockericon from "./icons/Dockericon.astro";
import GitHub from "./icons/GitHub.astro";

const TAGS = {
    NEXT: {
        name: "NextJS",
        class: "bg-black",
        icon: NextJSicon,
    },
    ANGULAR: {
        name: "Angular",
        class: "bg-black",
        icon: Angularicon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black",
        icon: Javascripticon,
    },
    HTML: {
        name: "HTML",
        class: "bg-black",
        icon: HTMLicon,
    },
    CSS: {
        name: "CSS",
        class: "bg-black",
        icon: CSSicon,
    },
    DOCKER: {
        name: "Docker",
        class: "bg-black",
        icon: Dockericon,
    },
    GITHUB: {
        name: "Git-Hub",
        class: "bg-black",
        icon: GitHub,
    },
};
const PROJECTS = [
    {
        title: "NoteAPP",
        description:
            "Aplicación de creación, eliminación, edición y guardado de notas, creado con EJS, Javascript, HTML y CSS.Con la utilizacion de MeiliSearch, Appwrite y NodeJS",
        link: null,
        github: "https://github.com/Franklynjsb/NoteAPP",
        image: "https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FNoteAPP.jpg?alt=media&token=39552664-1adf-4697-92a7-4f3233f014ef",
        tags: [TAGS.NEXT, TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.HTML],
    },
    {
        title: "Encriptador",
        description:
            "Aplicación desarrollada donde puede encriptar un texto o desencriptarlo. Este mismo proyecto fue realizado con tecnologías como Javascript, CSS y HTML.",
        link: "https://encriptator.onrender.com",
        github: "https://github.com/Franklynjsb/FJQ-AluraChallenge1",
        image: "https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FEncriptator.jpg?alt=media&token=c924932d-54b4-4586-bb00-8c85a1a55b4c",
        tags: [TAGS.HTML, TAGS.JAVASCRIPT, TAGS.CSS],
    },
    {
        title: "Discor-Bot",
        description:
            "Readaptación de Bot para Discord para que el mismo puediese tomar links de Youtube y reproducirlos mediante comandos en los canales de Discord.",
        link: "",
        github: "https://github.com/Franklynjsb/discord-bot",
        image: "https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FMukaProyect.jpg?alt=media&token=8646af47-e781-4dac-884e-6271df19fced",
        tags: [TAGS.JAVASCRIPT, TAGS.DOCKER],
    } /* ,
    {
        title: "NoteAPP",
        description:
            "Aplicación de creación, eliminación, edición y guardado de notas, creado con EJS, Javascript, HTML y CSS.Con la utilizacion de MeiliSearch, Appwrite y NodeJS",
        link: "",
        github: "https://github.com/Franklynjsb/NoteAPP",
        image: "../src/assets/NoteApp.jpg",
        tags: [TAGS.NEXT, TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.HTML],
    }, */,
];
---

{
    PROJECTS.map(({ link, image, github , title, description, tags }) => (
        <article class="mt-4">
            <h3 class="text-2xl font-semibold" style="color:#A9F754">
                {title}
            </h3>
            <p class="text-lg mb-1 text-pretty">
                {description}
                <SocialIcons href={github}>
					<GitHub class="size-4 md:size-6 mt-2" alt="GitHub icon" />
			    </SocialIcons>
            </p>
            <ul class="flex gap-x-4 flex-row">
                {tags.map((tag) => (
                    <li>
                        <tag.icon class="size-4 md:size-6" />
                    </li>
                ))}
            </ul>
            <a title="Image to proyect" href={link} target="_blank">
                <img
                    class="rounded shadow-2xl shadow-[#310a65] mt-4"
                    src={image}
                    alt={`Screenshot project ${image}`}
                    style="height:400px"
                />
            </a>
        </article>
    ))
}
