---
import SocialIcons from "./SocialIcons.astro";
import Angularicon from "./icons/Angularicon.astro";
import CSSicon from "./icons/CSSicon.astro";
import HTMLicon from "./icons/HTMLicon.astro";
import Javascripticon from "./icons/Javascripticon.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import NextJSicon from "./icons/NextJSicon.astro";

const TAGS = {
    NEXT: {
        name: "NextJS",
        class: "bg-black",
        icon: NextJSicon,
    },
    ANGULAR: {
        name: "Angular",
        class: "bg-black",
        icon: Angularicon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black",
        icon: Javascripticon,
    },
    HTML: {
        name: "HTML",
        class: "bg-black",
        icon: HTMLicon,
    },
    CSS: {
        name: "CSS",
        class: "bg-black",
        icon: CSSicon,
    },
};
const PROJECTS = [
    {
        title: "NoteAPP",
        description:
            "Aplicación de creación, eliminación, edición y guardado de notas, creado con EJS, Javascript, HTML y CSS.Con la utilizacion de MeiliSearch, Appwrite y NodeJS",
        link: null,
        github: "https://github.com/Franklynjsb/NoteAPP",
        image: "https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FNoteAPP.jpg?alt=media&token=39552664-1adf-4697-92a7-4f3233f014ef",
        tags: [TAGS.NEXT, TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.HTML],
    },
    {
        title: "Encriptador",
        description:
            "Aplicación desarrollada donde puede encriptar un texto o desencriptarlo. Este mismo proyecto fue realizado con tecnologías como Javascript, CSS y HTML.",
        link: "https://encriptator.onrender.com",
        github: "https://github.com/Franklynjsb/FJQ-AluraChallenge1",
        image: "https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FEncriptator.jpg?alt=media&token=c924932d-54b4-4586-bb00-8c85a1a55b4c",
        tags: [TAGS.HTML, TAGS.JAVASCRIPT, TAGS.CSS],
    } /* ,
    {
        title: "NoteAPP",
        description:
            "Aplicación de creación, eliminación, edición y guardado de notas, creado con EJS, Javascript, HTML y CSS.Con la utilizacion de MeiliSearch, Appwrite y NodeJS",
        link: "",
        github: "https://github.com/Franklynjsb/NoteAPP",
        image: "../src/assets/NoteApp.jpg",
        tags: [TAGS.NEXT, TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.HTML],
    }, */,
];
---

{
    PROJECTS.map(({ link, image, title, description, tags }) => (
        <article class="mt-4">
            <h3 class="text-2xl font-semibold" style="color:#A9F754">
                {title}
            </h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <a href={link}>if (link =! null) {<LinkIcon />}</a>
            <ul class="flex gap-x-4 flex-row">
                {tags.map((tag) => (
                    <li>
                        <tag.icon class="size-8" />
                    </li>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-[#310a65] mt-4"
                src={image}
                alt={`Screenshot project ${image}`}
                style="height:400px"
            />
        </article>
    ))
}
