---
import Angularicon from "./icons/Angularicon.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import CSSicon from "./icons/CSSicon.astro";
import HTMLicon from "./icons/HTMLicon.astro";
import Javascripticon from "./icons/Javascripticon.astro";
import NextJSicon from "./icons/NextJSicon.astro";
import Dockericon from "./icons/Dockericon.astro";
import GitHub from "./icons/GitHub.astro";
import MySQLicon from "./icons/MySQLicon.astro";
import Javaicon from "./icons/Javaicon.astro";
import Typescripticon from "./icons/Typescripticon.astro";
import LinkButton from "./LinkButton.astro";
import BadgeRed from "./BadgeRed.astro";
import Tailwindicon from "./icons/Tailwindicon.astro";
import CPPicon from "./icons/CPPicon.astro";
import Bootstrapicon from "./icons/Bootstrapicon.astro";
import Smalltalkicon from "./icons/Smalltalkicon.astro";

//Create a tag list where its possible to select multiple items for projects
const TAGS = {
    NEXT: {
        name: "NextJS",
        class: "bg-black",
        icon: NextJSicon,
    },
    ANGULAR: {
        name: "Angular",
        class: "bg-black",
        icon: Angularicon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black",
        icon: Javascripticon,
    },
    HTML: {
        name: "HTML",
        class: "bg-black",
        icon: HTMLicon,
    },
    CSS: {
        name: "CSS",
        class: "bg-black",
        icon: CSSicon,
    },
    DOCKER: {
        name: "Docker",
        class: "bg-black",
        icon: Dockericon,
    },
    GITHUB: {
        name: "Git-Hub",
        class: "bg-black",
        icon: GitHub,
    },
    MYSQL: {
        name: "Mysql",
        class: "bg-black",
        icon: MySQLicon,
    },
    JAVA: {
        name: "Java",
        class: "bg-black",
        icon: Javaicon,
    },
    TYPESCRIPT: {
        name: "Typescript",
        class: "bg-black",
        icon: Typescripticon,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-black",
        icon: Tailwindicon,
    },
    CPP: {
        name: "CPP",
        class: "bg-black",
        icon: CPPicon,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-black",
        icon: Bootstrapicon,
    },
    SMALLTALK: {
        name: "Smalltalk",
        class: "bg-black",
        icon: Smalltalkicon,
    },
};

//Created list of projects for exposing them On the Layout
const PROJECTS = [
    {
        title: "MediLatam",
        descriptionES:
            "Dentro de la simulación de NoCountry, se creó esta aplicación de Telemedicina, donde actuó como el director del equipo de desarrollo Back-End. Se desarrolló NodeJS con un BackEnd enfocado en Java y PostgreSQL, empaquetado con Docker.",
        descriptionEN:
            "MediLatam is an application currently in development. Within the NoCountry simulation, we are creating this Telemedicine application, where I act as the director of the BackEnd development team. It is being developed using NodeJS with a BackEnd focused on Java and PostgreSQL with Docker packaging.",
        status: null,
        link: null,
        github: "https://github.com/Franklynjsb/c17-49-n-java",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/medilatam-ss-sq.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvL21lZGlsYXRhbS1zcy1zcS5qcGciLCJpYXQiOjE3NzY0NDQ1NjgsImV4cCI6MjQwNzE2NDU2OH0.nJPV5TTfmAvkjUBGytPyM-mRXZSW4m1c5daRsjjyVq0",
        tags: [TAGS.NEXT, TAGS.JAVA, TAGS.DOCKER, TAGS.TAILWIND],
    },
    /*{
        title: "NoteAPP",
        descriptionES:
            "Aplicación de creación, eliminación, edición y guardado de notas, creado con EJS, Javascript, HTML y CSS.Con la utilizacion de MeiliSearch, Appwrite y NodeJS",

        descriptionEN:
            "Application for creating, deleting, editing, and saving notes, created with EJS, JavaScript, HTML, and CSS. Utilizing MeiliSearch, Appwrite, and Node.js.",
        status: null,
        link: null,
        github: "https://github.com/Franklynjsb/NoteAPP",
        image: "https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FNoteAPP.jpg?alt=media&token=39552664-1adf-4697-92a7-4f3233f014ef",
        tags: [TAGS.NEXT, TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.HTML],
    },*/
    {
        title: "Encriptador",
        descriptionES:
            "Aplicación desarrollada donde puede encriptar un texto o desencriptarlo. Este mismo proyecto fue realizado con tecnologías como Javascript, CSS y HTML.",
        descriptionEN:
            "Developed application where you can encrypt or decrypt text. This project was implemented using technologies such as JavaScript, CSS, and HTML.",
        status: null,
        link: "https://encriptator.onrender.com",
        github: "https://github.com/Franklynjsb/FJQ-AluraChallenge1",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/Encriptator.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvL0VuY3JpcHRhdG9yLmpwZyIsImlhdCI6MTc3NjQ0NDUwNiwiZXhwIjoyNDA3MTY0NTA2fQ.YaGXCyQrprwu6jqSuorwkNC_xLlV_p-0CYzdTMyVrMs",

        tags: [TAGS.HTML, TAGS.JAVASCRIPT, TAGS.CSS],
    },
    {
        title: "Manejo de archivos en C++",
        descriptionES:
            "Desarrollamos una aplicación en C++, donde los usuarios pueden registrarse e iniciar sesión (Utilizando la persistencia de datos de archivo). Ejecutar algoritmos y jugar con una simulación inspirada en el Reino Champiñón.",
        descriptionEN: "",
        status: null,
        link: null,
        github: "https://github.com/Franklynjsb/TP_AEDD_2024",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/2.Cpp-TP.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvLzIuQ3BwLVRQLnBuZyIsImlhdCI6MTc3NjQ0NTgyNiwiZXhwIjoyNDA3MTY1ODI2fQ.cR8peU_jmk7KV6bRhAyPr_om95SQwb5yccI0fhkQ16A",
        tags: [TAGS.CPP],
    },
    {
        title: "Repositorio de estudio de C++",
        descriptionES:
            "Como parte de mis estudios en la Universidad Tecnológica Nacional FRSF, desarrollé y apliqué varios algoritmos utilizando C++.",
        descriptionEN:
            "In the context of my studies at the National Technological University FRSF, I implemented various algorithms using C++.",
        status: null,
        link: null,
        github: "https://github.com/Franklynjsb/AEEDD2024",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/squoshh-image-cpp.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvL3NxdW9zaGgtaW1hZ2UtY3BwLmpwZyIsImlhdCI6MTc3NjQ0NDYyNywiZXhwIjoyNDA3MTY0NjI3fQ.TUXcB6K7m7WqiZ9mjqgvxW6uL2qAb9LZuLhi2zFMvUM",
        tags: [TAGS.CPP],
    },
    {
        title: "Portofolio (Back End)",
        descriptionES:
            "El backend del proyecto está desarrollado en Java, utilizando MySQL como base de datos para lograr un almacenamiento seguro y siempre disponible. Esto nos permitió crear un sistema robusto, escalable y muy estable, ideal para manejar las peticiones del portafolio de manera eficiente",
        descriptionEN:
            "For the backend development, Java was chosen, a reliable and scalable language that facilitates efficient server management. Java handles client requests and ensures system stability. The database, implemented with MySQL, ensures secure and efficient storage of information, supporting data integrity and availability. Together, the frontend and backend integrate to create an interactive portfolio that excels in both design and functionality.",
        status: "dead",
        link: "https://fjqfrontend.web.app",
        github: "https://github.com/Franklynjsb/proyectoBackEnd",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/Portofolio.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvL1BvcnRvZm9saW8uanBnIiwiaWF0IjoxNzc2NDQ0NjYzLCJleHAiOjI0MDcxNjQ2NjN9.ByCd32WMaayXxpsn-8NEFFLiFC3I7E8_CgeSg27Z7C4",
        tags: [
            TAGS.JAVASCRIPT,
            TAGS.DOCKER,
            TAGS.MYSQL,
            TAGS.JAVA,
            TAGS.TYPESCRIPT,
        ],
    },
    {
        title: "Portofolio (Front End)",
        descriptionES:
            "El frontend del proyecto está desarrollado en Angular, utilizando TypeScript y JavaScript para lograr una lógica dinámica y eficiente. Esto nos permitió crear una interfaz moderna, atractiva y con una experiencia de usuario muy fluida, ideal para destacar los proyectos y habilidades en el portafolio.",
        descriptionEN:
            "The front-end component of this project has been built with Angular, leveraging its robust set of tools to create an interactive and engaging portfolio. The use of JavaScript and TypeScript has allowed for the development of dynamic and efficient client-side logic, providing a smooth user experience. The resulting user interface is modern and pleasant, offering an interactive platform to showcase projects and skills.",
        status: "dead",
        link: "https://fjqfrontend.web.app",
        github: "https://github.com/Franklynjsb/proyectoFrontEnd",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/Portofolio.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvL1BvcnRvZm9saW8uanBnIiwiaWF0IjoxNzc2NDQ0NjYzLCJleHAiOjI0MDcxNjQ2NjN9.ByCd32WMaayXxpsn-8NEFFLiFC3I7E8_CgeSg27Z7C4",
        tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.ANGULAR, TAGS.TYPESCRIPT],
    },
    {
        title: "Discord-Bot",
        descriptionES:
            "Readaptación de Bot para Discord para que el mismo pudiese tomar links de Youtube y reproducirlos mediante comandos en los canales de Discord. Actualmente este mismo se encuentra fuera de servicio pero puede acceder a los repositorios del mismo.",
        descriptionEN:
            "Adaptation of a Discord bot to enable it to take YouTube links and play them through commands in Discord channels. Currently, this bot is out of service, but you can access its repositories.",
        status: "dead",
        link: null,
        github: "https://github.com/Franklynjsb/discord-bot",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/MukaProyect.jpg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvL011a2FQcm95ZWN0LmpwZyIsImlhdCI6MTc3NjQ0NDcwNCwiZXhwIjoyNDA3MTY0NzA0fQ.duqOzvmlYhwjArqT4ehkalLhfFrrifoQIghvI49xZUU",
        tags: [TAGS.JAVASCRIPT, TAGS.DOCKER],
    },
    {
        title: "Base de Datos - Smalltalk",
        descriptionES:
            "Base de datos realizada con Smalltalk y con Prolog, para el sistema de gestión de datos sobre una clínica de donantes de sangre. En la misma es posible la alta, modificación y gestión de pacientes; a su véz permite realizar consultas en la misma utilizando prolog.",
        descriptionEN: "",
        status: null,
        link: null,
        github: "https://github.com/Franklynjsb/BaseDeDatosSmalltalk",
        image: "https://cxvkaboicsgobxqgvfgn.supabase.co/storage/v1/object/sign/portfolio-database/Fotos-portfolio/2.PharoTP-Mod.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hNmQxNDcwMS1jMzBlLTRjNjktOGVkMC04NjQ2NTkxYWZiNjIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwb3J0Zm9saW8tZGF0YWJhc2UvRm90b3MtcG9ydGZvbGlvLzIuUGhhcm9UUC1Nb2QucG5nIiwiaWF0IjoxNzc2NDQ1ODQ2LCJleHAiOjI0MDcxNjU4NDZ9.LS0LQw1NqBrz6LFXsi59CGK95vAEt_7bf9KNTSOoOjM",
        tags: [TAGS.SMALLTALK],
    } /* ,
    {
        title: "NoteAPP",
        description:
            "Aplicación de creación, eliminación, edición y guardado de notas, creado con EJS, Javascript, HTML y CSS.Con la utilizacion de MeiliSearch, Appwrite y NodeJS",
        link: "",
        github: "https://github.com/Franklynjsb/NoteAPP",
        image: "../src/assets/NoteApp.jpg",
        tags: [TAGS.NEXT, TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.HTML],
    }, */,
];
---

<section class="flex flex-col gap-y-8">
    {
        //Data is processed looking for each item in the list of projects. Then the data is returned as needed.
        PROJECTS.map(
            ({ link, image, github, status, title, descriptionES, tags }) => (
                <article class="mt-4">
                    <h3
                        class="text-2xl font-semibold mt-6"
                        style="color:#A9F754"
                    >
                        {title}
                        {status && <BadgeRed>#dead</BadgeRed>}
                    </h3>

                    <p class="text-lg mb-1 text-pretty">{descriptionES}</p>
                    <ul class="flex gap-x-4 flex-row">
                        {tags.map((tag) => (
                            <li>
                                <tag.icon class="size-4 md:size-6" />
                            </li>
                        ))}
                    </ul>
                    <a title="Image from proyect">
                        <img
                            loading="lazy"
                            class="rounded shadow-2xl shadow-[rgba(84,174,247,0.3)] mt-4 aspect-video"
                            src={image}
                            alt={`Screenshot project ${image}`}
                            style="height:350px"
                        />
                    </a>
                    <footer class="flex gap-x-6 items-end justify-start mt-8">
                        {github && (
                            <LinkButton href={github} target="_blank">
                                <GitHub
                                    class="size-5 md:size-6"
                                    alt="GitHub icon"
                                />
                                Ver código fuente...
                            </LinkButton>
                        )}
                        {link && (
                            <LinkButton href={link}>
                                <LinkIcon
                                    class="size-5 md:size-6"
                                    alt="Linked page icon"
                                />
                                Ir a la web...
                            </LinkButton>
                        )}
                    </footer>
                </article>
            ),
        )
    }
</section>
